# My Jupyter Notebook on IBM Watson Studio

#### **Sethuraman B**

#### **Data Analyst offers a wide range of exciting and impactful career opportunities,with the ability to solve complex problems, gain valuable insights, and drive innovation in various industries.**

#### *Data Analysts play a crucial role in organizations by turning data into actionable insights to drive decision-making, improve business processes and achieve strategic goals. They help identify trends, patterns, and relationships within large data sets, and communicate findings to stakeholders in a clear and concise manner.*

### Below code will print Hello World and Addition

In [28]:
print("Hello World!")
print(24+27)

Hello World!
51

Bulleted List:
* item 1
* item 2
* item 3

Numbered List:
1. Apple
2. Banana
3. Pineapple

![image alt text]("C:\Users\Sethu\Downloads\pexels-johannes-plenio-1435075.jpg")

[OpenAI](https://openai.com)

| Name | Age | Occupation |
|------|-----|-----------|
| John | 32  | Data Analyst |
| Jane | 28  | Software Engineer |